<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <% if @access_token %>
    <div>
      <form id="submit_tweet_form" action='/tweet' method="post">
        <textarea rows="3" cols="50" name="tweet" placeholder="Type your tweet here..."></textarea>
        <input type="text" name="time" value="0">
        <input type="hidden" name="username" value="<%= @access_token.params[:screen_name] %>">
        <input type="submit" value="post tweet">
      </form>

      <br>

      <table class="tweet_table" border="1">
        <tr class="table_header">
          <td>Tweet</td>
          <td>Status</td>
        </tr>
      </table>

      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
  
</div>
